# Copyright (c) 2024 CTHINGS.CO
# SPDX-License-Identifier: Apache-2.0

mainmenu "Reference Software"

# Place your configs here

config MCUBOOT_IMGTOOL_SIGN_VERSION
	string "Firmware revision"
	default "0.0.1"
	help
	  MCUboot built-in revision

config OUTPUT_DISASSEMBLY
	bool "Enable .lst generation"
	default y
